@model IEnumerable<WebApp.Models.GetGroupsDataModel>

@{
    ViewBag.Title = "Редактировать учебную группу";
}

<h4>@ViewBag.Title</h4>
    <hr />
<ol class="breadcrumb">
  <li class="breadcrumb-item">@Html.ActionLink("Учебные группы", "Index")</li>
  <li class="breadcrumb-item active">@ViewBag.Title</li>
</ol>
@Html.React("EditGroup", new
{
    info = ViewBag.GroupInfo,
    url = Url.Action("/Groups/GetGroupData/" + ViewBag.GroupId),
    actionLink = Url.Action("EditGroup")
})
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.WorkerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrganisationName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrganisationName)
                    </td>
                    <td>
                        @Html.ActionLink("Удалить из группы", "RemoveStudent", new { id = item.DataRecordID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        @Html.ActionLink("Добавить сутдента", "AddStudentToGroup", new { ViewBag.GroupId }, new { @class = "btn btn-default" })
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
<script src="@Url.Content("~/ReactNET/EditGroup.jsx")"></script>
@Html.ReactInitJavaScript()